@page "/"

<PageTitle>Home</PageTitle>

<h1>Site under construction...</h1>

<br>

<h4>(7 March 2024) The maze game has been added to the site! This is a project I build a few years ago
    that is based on a DOS game one of my dad's work colleagues made in the 80's. When I
    interviewed for my first software job, I gave a demo of this game, so it helped kickstart
    my career!
</h4>